# 📁 ---- Gradle ----
.gradle/
build/

# 🎮 ---- Minecraft / Forge ----
run/
run-data/
out/

# 📝 ---- IDE & Editor ----
.idea/
.vscode/
*.ipr
*.iws
*.iml

# 🪟 ---- OS files ----
bin/

# 🐍 ---- Python ----
**/__pycache__/
**/*.pyc/
**/venv/
**/.venv/

# 🗑️ ---- Temp ----
**/temp/
**tmp/

# 📋 ---- Logs ----
*.log